
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
  font-family: 'Quicksand', sans-serif !important;

}

.App {
  text-align: center;
}

h1,h2{
  font-weight: 700 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu-item{
  float:right; 
}

.logo {
  font-size: 16px;
  color: #ffffff;
  font-weight: 800;
  float: left;
  width: 120px;  
  margin: 0px 24px;
   
}

.mainButton{
  margin-top: 10px;
  border-radius: 7px !important;
}

.goCart{
  margin-top: 10px;
  border-radius: 7px !important;
  font-weight: 700 !important;
  color: #009c82 !important;
  background-color: #00ffd5 !important;
  border-color: #00ffd5  !important;
}

.mainMargin{
  margin: 30px;
}

.textLeft{
  text-align: left;
}

.customFont{    
  font-weight: 700 !important;    
  margin:20px 30px;

}

.loading{
  text-align: center;
  margin-top: 25%;
}

.backButton{
  margin: 20px 0 0 30px;
}

.clearButton{
  float: right !important;
  margin: 0 30px 0 0;
  border-radius: 7px !important;
}

.trashButton{
  float: right !important;  
  border-radius: 7px !important;
  color: #ff0000 !important;
  
}

.trashButton:hover{
  color: black !important;
}


.cartList{
 
  margin: 10px 34px;
  border: solid 1px #e2e2e2;
  padding: 18px 18px 0 18px;
  border-radius: 10px;

}

.cartImage{
  width: 100%; 
}

.totalPrice{  
  font-size: 18px;
  margin-left: 36px;
}

.textCentered{
  text-align: center;
}

.emptyCart{
  display: block;
  text-align: center;
  margin: 100px auto;

}